.flexslider--default {
  position: relative;

  .slides {
    z-index: 90;

    &,
    & > li {
      position: relative;
      height: 100%;
    }

  }

  .flex-control-nav,
  .flex-direction-nav {
    z-index: 100;
  }

  // Override default Paging/Direction
  .flex-control-paging {
    bottom: 0;
  }
  .flex-control-paging a {
    width: 14px;
    height: 14px;
    //---
    @include box-shadow(none);
    background: #fff;

    &:hover {
      background: #aaa;
    }
  }
  .flex-control-paging a.flex-active {
    background: $brand-color;
  }

  .flex-control-nav li {
    margin: 0 3px;
  }
  .flex-direction-nav a {
    top: 50%;
    margin: -64px 0 0 0;
    //---
    z-index: 100;
    opacity: 1;
    text-indent: 1000px;
    overflow: hidden;
    @include transition(none);

    &:before {
      display: none;
    }

    &:focus {
      outline: 0;
    }
  }
  .flex-prev {
    @include sprite('carousel-prev');
    left: -50px;
  }
  .flex-next {
    @include sprite('carousel-next');
    right: -50px;
  }
}



.slide {
  &-media {
    @include clearfix();
    padding: 0 15px;
  }
  &-body {
    overflow: hidden;
  }
  &-image {
    float: left;
    margin-right: 40px;
  }

  &-quote {
    @include font-size(18px, false);
    line-height: (27 / 18);
  }
  &-author {
    @include font-size(16px);
    color: #222;
    text-transform: uppercase;
  }
  &-post {
    @include font-size(14px);
    color: #777;
  }
}