
a {
  text-decoration: none;
}


.b-link {

  color: $brand-color;
  text-decoration: underline;
  &:hover {
    color: darken($brand-color, 5%);
  }

  &--inherit {
    color: inherit;
  }

  &--no-decor {
    text-decoration: none;
  }

  &--decor {
    text-decoration: underline;
  }

}