
.btn-custom
  display: inline-block
  vertical-align: middle

  padding:
    left: 20px
    right: 20px
  height: 56px
  +border-radius(2px)
  background-color: #ea6060
  border: solid 1px #fff

  +font-size(24px)
  color: #fff
  text-transform: uppercase