
.full-height
  height: 100%


// True vertical centring
.b-mid
  display: table
  height: 100%

  &--center
    margin:
      left: auto
      right: auto

  &__content
    display: table-cell
    vertical-align: middle
