
.root
  +media-query(lap-and-up)
    min-width: $container

  +media-query(palm)
    overflow-x: hidden

.container
  +media-query(lap-and-up)
    min-width: $container !important
    max-width: $container !important
    width: $container !important

.container-sm
  +media-query(lap-and-up)
    min-width: 943px
    max-width: 943px
    width: 943px
    margin: 0 auto
