
@mixin placeholder-setup
  &::-webkit-input-placeholder
    @content

  &:-moz-placeholder
    @content

  &::-moz-placeholder
    @content

  &:-ms-input-placeholder
    @content


@mixin inline-nav-setup($direction: left)
  +reset-list-style()
  +clearfix()
  margin-left: 0
  margin-bottom: 0

  &__item,
  & > li
    float: $direction
