
.base-info
  display: none
  margin: -274px 0 0 0
  height: 536px

  background: rgba(255, 255, 255, .4)
  +box-shadow(inset 0 -14px 14px rgba(0, 0, 0, .15))
  
  +media-query(lap-and-up)
    display: block

  &__iphone
    display: block
    margin: -115px auto 0

  &__advantage
    padding-top: 62px

  &__store
    margin-top: 170px