
.expects
  display: none

  +media-query(lap-and-up)
    display: block

  &-wrapper
    +box-shadow(0 10px 10px rgba(0, 0, 0, .15))
    position: relative
    display: none

    +media-query(lap-and-up)
      display: block

  &-container
    background: #fff
    padding: 60px 0 90px

  &__heading
    margin-bottom: 70px

    +font-size(30px)
    color: #222
    text-transform: uppercase
    text-align: center