
.feedback

  &-wrapper
    background: #ecedee

    +media-query(lap-and-up)
      padding-top: 50px
      padding-bottom: 50px


  &-container
    padding: 50px 0
    background: #fff

    +media-query(lap-and-up)
      padding: 120px 0 80px


  &-form
    padding: 0 40px

    .form-group
      margin-bottom: 6px

      +media-query(lap-and-up)
        margin-bottom: 25px

    .form-control
      display: block
      padding: 0 27px
      width: 100%

      border: 1px solid #777
      +font-size(18px, false)
      color: #222

    input[type="text"].form-control
      height: 58px

    textarea.form-control
      height: 202px
      padding:
        top: 15px
        bottom: 15px

    &__button-container
      margin-top: 15px
      +media-query(lap-and-up)
        margin-top: 40px

    &__button

      +media-query(palm)
        height: 76px
        display: block
        width: 100%
