
.hero-unit
  display: block

  margin: 0 auto

  //max-width: 321px
  height: 400px

  background: image-url('hero-palm.jpg') no-repeat 0 0 / cover

  +media-query(lap-and-up)
    max-width: auto
    min-width: 1440px
    height: 750px

    background: image-url('hero.jpg') no-repeat center / cover

  &__title
    display: block
    padding-top: 80px

    +media-query(lap-and-up)
      padding-top: 136px


    text-align: center
    +text-shadow(1px 1px #2d2d2d)
    font-weight: bold
    +font-size(26px)
    line-height: (86 / 80)

    color: #fff

    +media-query(lap-and-up)
      +font-size(80px)

.app-interface
  display: block
  max-width: 100%
  margin-top: -220px

  +media-query(lap-and-up)
    display: none
