
.advantage-list
  +reset-list-style
  padding-left: 30px

  +media-query(lap-and-up)
    padding-left: 0

  &-palm
    display: block
    margin: 25px 0 0 0

    +media-query(lap-and-up)
      display: none

  li
    display: block
    margin-bottom: 12px
    &:last-child
      margin-bottom: 0

    white-space: nowrap
    +font-size(24px)
    color: #d52c49
    +text-shadow(1px 1px #fff)

  &__text
    display: inline-block
    vertical-align: middle
    padding-left: 14px

    white-space: normal
    +font-size(18px)
