
.member
  text-align: center

  &__photo
    display: block
    margin: 0 auto 30px

    border-radius: 100%
    border: 4px solid #fff

  &__name
    margin-bottom: 7px

    +font-size(24px)
    color: #222
    text-transform: uppercase

  &__post
    +font-size(16px)
    color: #777

  &__about
    margin-top: 20px

    +font-size(18px, false)
    line-height: (24 / 18)
    color: #777

  &__soc
    margin-top: 30px
    a
      display: inline-block
      margin: 0 10px