
.person
  +media-query(lap-and-up)
    +clearfix

  &__image
    display: block
    margin: 0 auto

    +media-query(lap-and-up)
      float: left
      margin-right: 21px

  &__name
    margin-top: 14px
    text-align: center
    line-height: 1

    +media-query(lap-and-up)
      overflow: hidden
      margin-top: 25px

      line-height: 36px
      white-space: nowrap

  &__fullname
    +font-size(24px, false)
    color: #222

    +media-query(lap-and-up)
      +font-size(36px, false)

  &__post
    +font-size(24px, false)
    color: #777

    +media-query(lap-and-up)
      +font-size(30px, false)


  &-wrapper
    margin: 20px 0 20px

    +media-query(palm)
      margin-top: 30px
      padding-top: 20px
      +box-shadow(0 -10px 10px rgba(0, 0, 0, .15))

  &-container
    +media-query(lap-and-up)
      padding: 0 50px 0 0


  &-quote
    margin-top: 15px

    +font-size(15px, false)
    line-height: (18/15)
    text-align: center

    +media-query(lap-and-up)
      margin-top: 10px

      +font-size(24px, false)
      line-height: (30/24)
      text-align: right
