
.store-links
  display: block
  margin: 30px 0 0

  +media-query(lap-and-up)
    display: none

  &__item
    margin-bottom: 15px

.store-link
  +font-size(14px)
  color: #222
  text-align: center

  +media-query(lap-and-up)
    +font-size(22px)
    text-align: left

  &__heading
    margin-bottom: 5px

    +media-query(lap-and-up)
      margin-bottom: 15px

  &__anchor