
.strip
  margin: 20px 0 0 0
  padding: 25px 10px

  background: #565d67
  text-align: center

  +media-query(lap-and-up)
    margin: 36px 0 0
    padding: 50px 0

  &__text
    margin-bottom: 20px

    +font-size(24px, false)
    line-height: (26/24)
    color: #fff

    +media-query(lap-and-up)
      display: inline-block
      vertical-align: middle
      padding-right: 78px
      margin-bottom: 0

      +font-size(30px, false)

  &__button
    width: 161px