
.team
  &-container
    padding: 30px 0 0
    background: #ecedee

    +media-query(lap-and-up)
      padding: 90px 0 40px

  &__heading
    margin-bottom: 10px

    +font-size(30px)
    color: #222
    text-transform: uppercase
    text-align: center

  &__subheading
    display: none

    +font-size(18px, false)
    line-height: (24/18)
    color: #4b4b4b
    text-align: center

    +media-query(lap-and-up)
      display: block

  &__members
    margin: 20px 0 0

    +media-query(lap-and-up)
      margin-top: 80px

  &__member
    width: 247px
    margin: 0 auto 50px

    +media-query(lap-and-up)
      margin-bottom: 0